/* Reset default styles */
* {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
}

/* Container styling for layout */
.container {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

/* For svg border */
#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc; /*otherwise you can't see this part*/
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis text,
.y-axis text {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

button {
    padding: 8px 16px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: rgb(108, 213, 208);
    color: black;
    border-radius: 6px;
}

p {
    padding-top: px;

}